[2014-04-08 18:47] jvirtanen opened #2 "Network protocols"
An exchange needs an order entry protocol and a market data protocol. Most marketplaces have proprietary binary protocols.

Following the example, we could have an order entry protocol that is simplified from [NASDAQ OUCH](http://nasdaqtrader.com/content/technicalsupport/specifications/TradingProducts/OUCH4.2.pdf) and a market data protocol that is simplified from [NASDAQ ITCH](http://www.nasdaqtr

[2014-07-30 15:46] #2 closed, assigned to nobody

[2014-12-05 21:28] jvirtanen opened #15 "FIX API"
Market participants should be able to enter orders using the [FIX](http://www.fixtradingcommunity.org) protocol.

[2014-12-05 21:33] jvirtanen opened #16 "REST API"
Market participants should be able to enter orders using HTTP.

[2014-12-05 21:39] jvirtanen opened #17 "Trade reporting"
The trading system should generate trade reports.

[2014-12-05 21:44] jvirtanen opened #18 "Only one stock ticker process per host"
Only one stock ticker process listening to a particular session can be running on a host at a time. This is caused by a [limitation](https://github.com/jvirtanen/nassau/issues/6) in Nassau, the MoldUDP64 implementation used by the stock ticker.

[2014-12-25 09:56] jvirtanen opened #21 "Tab completion support in terminal client"
The command prompt of the terminal client should support tab completion.

[2015-01-06 15:23] jvirtanen opened #25 "Multiple concurrent order entry sessions per market participant"
POE, Parity's native order entry protocol, uses NASDAQ SoupBinTCP 3.00 underneath. One of the purposes of using it as a transport protocol is that it makes it possible for one market participant to maintain multiple concurrent order entry sessions with the trading system. This is, however, not yet supported by Parity itself.

Parity should support multiple concurrent order entry sessions per marke

[2015-01-10 13:02] jvirtanen opened #26 "CSV or TSV output from stock ticker"
There should be a way to obtain CSV or TSV output from the stock ticker. Such data could be easily plotted with [R](http://r-project.org), for example.

[2015-01-10 13:05] jvirtanen commented on #16
It might make more sense to make a WebSocket API instead.

[2015-01-26 14:47] jvirtanen commented on #16
The [Coinbase Exchange API](https://docs.exchange.coinbase.com) is worth a look.

[2015-02-21 13:48] jvirtanen commented on #16
See #28.

[2015-02-25 20:28] jvirtanen commented on #17
See #29.

[2015-02-26 20:04] jvirtanen commented on #17
Closed by #29.

[2015-02-26 20:04] #17 closed

[2015-02-26 20:05] jvirtanen commented on #26
This applies to the trade reporter now as well.

[2015-03-14 09:49] jvirtanen opened #30 "Access control"
Now that market participants have to identify themselves upon logging into the trading system, an authentication and authorization mechanism can be implemented.

[2015-03-14 10:20] jvirtanen opened #31 "Market surveillance"
While it is possible to implement market surveillance functions based on the market data feed, the trading system does not currently expose the originator of an order and, thus, it is not possible to attribute alerts to market participants.

The trading system should expose the originator of an order in similar fashion as it already exposes the counterparties of a trade.

[2015-04-09 15:32] jvirtanen commented on #26
#36 added TAQ support to the stock ticker.

[2015-04-15 18:33] #18 closed

[2015-04-18 14:21] #31 closed

[2015-05-12 17:07] jvirtanen opened #40 "Foreign exchange instruments"
The data type for prices in PMD, PMR and POE is a 32-bit unsigned integer with a six-digit integral part and a four-digit fractional part. This accuracy is not enough for foreign exchange instruments, including Bitcoin-related instruments.

To accommodate foreign exchange instruments, the number of digits in the fractional part should be made configurable. Furthermore, the data type for prices cou

[2015-05-13 05:39] penberg commented on #40
@jvirtanen IIRC, the NYSE OpenBook format supports configurable fractional part. Perhaps worth taking a look?

[2015-05-13 06:09] jvirtanen commented on #40
@penberg Thanks! I'll have a look at that.

[2015-05-18 10:45] jvirtanen commented on #26
#41 added TSV support to the trade reporter.

[2015-05-18 10:45] #26 closed

[2015-07-15 20:19] ghost opened #42 "Pluggable market data out / multicast / TCP modules"
Would be great to have abstract interface which user could code into to create arbitrary market data out protocol (MDP)

[2015-07-15 20:20] divaykin commented on #15
Something basic / slow would be sufficient. Even QuickFIX/J FIX 4.2 would be okay

[2015-07-15 20:25] divaykin opened #43 "Recorded market data replay"
Would be great to be able to replay recorded market data with particular speedup factor i.e. X1 - realtime, X5 - time time faster vs realtime, etc.

Market data should interact with user orders in a correct way. The tricky part is - for example replayed order for 200shs was executed against user order partially and 100shs remaining. Then market data can show that this order was increased to 300shs

[2015-07-15 20:26] penberg commented on #42
Indeed, ``MatchingEngine`` could be decoupled from ``MarketDataServer`` and others by introducing interfaces that people can implement.

[2015-07-15 20:28] divaykin commented on #43
I would not do this through normal order entry interface because streaming all this through network stack would make the process relatively slow

[2015-07-15 20:33] divaykin opened #44 "Pluggable matching algorithms"
Besides FIFO matching there are various algorithms used on different exchanges. For example "pro-rata" i.e. every order on a best level is filled according to it's relative size vs total size. I.e. if there are two orders for 2500 lots and 500 lots on a level a fill of 100 lots would be allocated as (100_5/6) for a first order and (100_1/6) for a second order. Reminder is typically filled at FIFO.

[2015-07-15 20:36] divaykin opened #45 "Implied matching"
http://www.cmegroup.com/confluence/display/EPICSANDBOX/Implied+Orders

In derivative (and some other i.e. swaps) exchanges there is a concept of implied orders / matching. It's sort of an automatic arbitrage between related contracts (typically of different expiry + spread).

Non trivial to implement but important for trading something other than equity / FX.

[2015-07-15 20:59] penberg commented on #15
QuickFIX/J APIs are not that much fun to work with. Perhaps we can start with something simpler :wink:

https://github.com/penberg/falcon

[2015-07-15 21:02] penberg commented on #43
IIRC, @jvirtanen mentioned privately few weeks back that he's working on something like that for NASDAQ ITCH 5.0 using Juncture:

https://github.com/jvirtanen/juncture

[2015-07-15 21:08] divaykin commented on #15
falcon do not support message parsing / listening isn't it?

[2015-07-15 21:26] divaykin commented on #15
actually it does a bit i.e. there is a recv method, I guess we could plug it into Netty?

[2015-07-16 05:54] penberg commented on #15
@divaykin Yes, we certainly could plug it into Netty.

[2015-07-16 08:57] divaykin commented on #15
@penberg @jvirtanen you guys have some motivation to get the tool to production usage? some efforts would be needed...

[2015-07-18 14:44] jvirtanen commented on #43
Yes, I'm working on this for NASDAQ TotalView-ITCH 5.0. It is a separate application that interfaces with the matching engine using the market data and order entry protocols.

In the future the trading system will be split into multiple applications: order entry gateways, matching engines, and market data gateways. While this is necessary for reliability and scalability, it is also helpful for app

[2015-07-18 14:50] jvirtanen commented on #42
I'm currently thinking of implementing these in terms of the market data protocol. In the future, they could be just another type of a market data gateway. See #43 for details.

[2015-07-18 14:52] jvirtanen commented on #44
Thanks, I'll have to look into these in more detail.

[2015-07-18 15:08] jvirtanen commented on #15
Yes, [Falcon](https://github.com/penberg/falcon) would indeed need some work before it would be usable. Also, I don't see QuickFIX/J as a viable solution in the long term.

In the big picture, a FIX interface becomes important when we start introduce more variation in order types, matching algorithms, and other parameters. Based on what I've been able to decipher, [Cinnober](http://www.cinnober.co

[2015-07-18 15:09] jvirtanen commented on #45
I'll have to look into this in more detail as well.

[2015-07-18 15:18] divaykin commented on #15
@jvirtanen there are lot of exchanges (I'd say like 60-70% in terms of numbers and 80% in terms of global volume) what do exclusively FIX.

[2015-07-27 18:09] jvirtanen opened #46 "Trading system network interfaces"
It should be possible to specify a network interface for each of the trading system's interfaces: market data, trade reporting, and order entry.

[2015-08-12 10:06] jvirtanen commented on #15
I have been working on a brand new FIX engine for the JVM during the past few weeks. It looks quite promising: there are no memory allocations at all on message reception or transmission. All field types can also be read and written without causing any memory allocations. I hope to release the initial version soon.

[2015-08-15 14:58] sirinath commented on #15
Looking forward to this. What about other protocols?

[2015-08-15 19:37] jvirtanen commented on #15
@sirinath Do you have some specific protocols in mind?

[2015-08-16 02:24] sirinath commented on #15
I don't have any in mind but it would be good to have many of the native protocols for order flow and feeds.

Having said this FAST, encoding FIX using GBP, SBE will be desired through the latter may not have much of a following as yet.

[2015-08-16 10:20] jvirtanen commented on #15
@sirinath Yes, I think that it might become useful to pair FIX on the order entry with, say, SBE for market data as we start supporting multiple matching algorithms or market mechanics (#44). The binary protocols begin to lose their edge as soon as variation is introduced.

[2015-08-17 02:44] sirinath opened #47 "Strip to Lib and publish on maven"
Parity related projects will be more useful if you strip the components into libraries and publish on maven.

[2015-08-17 07:55] jvirtanen commented on #47
Parity actually consists of a set of applications and libraries, both of which are [available on Maven](http://search.maven.org/#search%7Cga%7C1%7Cparity). [NASDAQ Market Data Tools](https://github.com/jvirtanen/nasdaq-tools) is an example of an external project utilizing them. It uses [Parity File Formats](https://github.com/jvirtanen/parity/tree/master/parity-file) and [Parity Top of Book](https

[2015-08-17 07:55] #47 closed

[2015-08-17 08:27] sirinath commented on #47
I think you need some documentation somewhere.

[2015-08-17 09:32] jvirtanen commented on #47
True, the documentation is quite thin at the moment. I will try to find time to make some improvements on it.

[2015-08-17 09:49] sirinath commented on #47
May you you can do a skeleton 1st and fill in the flesh when you find more time. The skeleton which just show the component is just there.

[2015-09-24 15:48] jvirtanen commented on #15
The aforementioned brand new FIX engine, [Philadelphia](https://github.com/jvirtanen/philadelphia), is now available as an open source project.

[2015-10-07 16:50] jvirtanen commented on #43
This issue is moved to [#2](https://github.com/jvirtanen/parity-extras/issues/2) on [Parity Extras](https://github.com/jvirtanen/parity-extras).

[2015-10-07 16:50] #43 closed

[2015-10-25 20:11] jvirtanen opened #50 "Trading system failure on cancel on disconnect"
The addition of cancel reporting (#49) introduced a fault to the trading system that results in trading system failure when an order is canceled on market participant disconnection.

[2015-10-26 16:53] #50 closed

[2015-11-03 11:22] sirinath opened #52 "Market Maker ID in Book"
Can you add market maker to the book.

[2015-11-03 11:46] jvirtanen commented on #52
Can you elaborate on your use case?

[2015-11-03 12:17] sirinath commented on #52
L2 quotes have MM details.

[2015-11-04 04:32] sirinath commented on #52
Wondering what your thoughts are on this.

[2015-11-04 09:08] jvirtanen commented on #52
Currently both the order book reconstruction and the matching engine maintain the minimum amount of information needed for the task at hand, and the trading system, for example, maintains auxliary storage for additional information per order.

I would not add the market maker identifier directly to the information maintained by the reconstruction and matching libraries, because it is not needed fo

[2015-11-04 09:48] sirinath commented on #52
Not orders but MM quotes. Also there is exchange specific meta data also.

[2015-11-04 10:53] jvirtanen commented on #52
Well, at least in [NASDAQ TotalView-ITCH 5.0](http://www.nasdaqtrader.com/content/technicalsupport/specifications/dataproducts/NQTVITCHspecification.pdf) the market participant identifier, if known, is sent in the Add Order with MPID Attribution message.

Do you have a particular trading venue in mind?

[2015-11-04 11:23] sirinath commented on #52
I want to keep things as generic as possible. Started work on developing the trading engine.

[2015-11-04 12:44] penberg commented on #52
IIRC, MPID is usually left blank these days. No harm in exposing it if it does exist, of course.

[2015-11-05 05:33] sirinath opened #53 "Toomany Indirections"
Having to navigate through multiple references can slow things down. Wondering if you are willing to try your https://github.com/ObjectLayout/ObjectLayout to speed up referencing where relevant and avoid object with data structure in object with data structure in object with data structure layout?

[2015-11-05 08:39] jvirtanen commented on #53
Yes, I agree. Especially the matching engine and order book reconstruction could be improved quite a bit in this regard.

Thanks for the heads-up on ObjectLayout, I'll have a look at it.

[2015-12-25 16:22] #46 closed

[2016-01-06 21:43] jvirtanen commented on #15
See #56.

[2016-01-16 08:51] jvirtanen opened #57 "Auxliary order information"
Both the matching engine and the order book reconstruction could offer a method for storing auxliary order information (e.g. additional order identifiers).

[2016-01-16 08:55] jvirtanen commented on #52
See #57. MPIDs fall under the definition of auxliary order information.

[2016-01-16 08:55] #52 closed

[2016-03-09 17:26] jvirtanen commented on #53
Regarding this, I had a look at the NASDAQ order books on one day in 2014. On that day AAPL had the following characteristics:

- maximum number of concurrent orders: 29948
- maximum number of concurrent orders on one price level: 1545
- maximum number of concurrent price levels: 3588

These are something to keep in mind when thinking about the optimal data structures for the matching engine and o

[2016-03-22 18:50] #15 closed

[2016-04-12 15:14] jvirtanen commented on #57
This is actually not that useful in the order book reconstruction, because the current version only exposes aggregate information on the best price level.

[2016-06-12 18:26] #53 closed

[2016-06-14 11:17] #57 closed

[2016-10-14 12:24] penberg opened #70 "FIX response when requesting a cancel for filled order"
When a cancel request is sent for an order that becomes filled before the order can be cancelled, the sequence should look as follows ([source](http://www.onixs.biz/fix-dictionary/4.4/app_dB.1.c.html)):
- Cancel Request (ClOrdID, OrigOrdID)
- Cancel Reject (ClOrdID, OrigOrdID)
- Execution(OrigOrdID)

However, while testing with my own application, I see an execution report with `ClOrdID` set to th

[2016-10-14 13:52] penberg opened #71 "FIX response when requesting a cancel for filled order"
When a cancel request is sent for an order that becomes filled before the order can be cancelled, the sequence should look as follows ([source](http://www.onixs.biz/fix-dictionary/4.4/app_dB.1.c.html)):

* Cancel Request (ClOrdID, OrigOrdID)
* Cancel Reject (ClOrdID, OrigOrdID)
* Execution(OrigOrdID)

However, while testing with my own application, I see an execution report with `ClOrdID` set to t

[2016-10-14 13:56] penberg commented on #71
Duplicate of #71. Sorry, my browser decided to submit a new issue rather than edit the previous one.

[2016-10-14 13:56] #71 closed

[2016-10-15 10:18] jvirtanen commented on #70
Thanks for reporting this!

When the FIX Gateway acknowledges an Order Cancel Request with an Execution Report for the pending cancel, it sets OrigClOrdID(41) to the previous ClOrdID(11) and ClOrdID(11) to the Order Cancel Request's ClOrdID(11). This results in the Execution Report for the fill having the wrong ClOrdID(11).

I think the pending cancel should be also eventually rejected. It seems l

[2016-10-15 10:33] jvirtanen opened #72 "FIX 4.4 session-level tests"
Parity FIX Gateway is currently lacking FIX 4.4 session-level tests. Those should be implemented.

[2016-10-23 11:28] jvirtanen opened #73 "Logging"
Both Parity Trading System and Parity FIX Gateway should implement logging to help with setting up and debugging. The bare minimum would be to log the configuration at the startup.

[2016-10-23 17:23] jheusser commented on #73
Btw also worth thinking whether the Aeron-style logging approach makes sense for Parity https://github.com/real-logic/Aeron/wiki/Monitoring-and-Debugging#debug-logging

[2016-10-24 10:12] jvirtanen commented on #73
@jheusser Interesting, I have to take a look at that. Also, I have for some time now been considering using Aeron for inter-process communication within the trading system.

[2016-10-26 20:44] jheusser commented on #73
Cool. Aeron+SBE could probably carry parity-net very nicely (see https://github.com/tmontgomery/Amaethon/).

[2016-10-27 09:09] jvirtanen commented on #73
SBE looks like the successof of FAST for FIX market data. I think it would be a possible future alternative to the native market data protocol, PMD, in similarly as FIX is an alternative to the native order entry protocol, POE.

For inter-process communication within the trading system I have thought about simply running the native protocols on top of Aeron as they already have simple, fixed binar

[2016-11-06 23:09] jvirtanen commented on #40
As a first step, the TAQ file format gets configurable fractional part for both prices and sizes in #74.

[2016-11-10 16:24] jvirtanen commented on #70
@penberg Could you test #76? It should fix this issue at least partly.

[2016-11-12 17:16] jvirtanen commented on #70
Fixed by #76.

[2016-11-12 17:16] #70 closed

[2016-12-26 19:47] jvirtanen opened #81 "Upgrade to JLine 3"
The terminal client uses JLine 2 for the command prompt. JLine 2 has been superseded by JLine 3, which is not backwards compatible with JLine 2. Upgrade the terminal client to use JLine 3.

[2017-06-28 12:21] jvirtanen commented on #40
[Genesis](https://github.com/jvirtanen/genesis) needs configurable fractional part for both prices and sizes.

Here is my current road map for implementing this feature:

- The trading system will operate on the minimum price and size increment.

- The network protocols will operate on the minimum price and size increment.

- The FIX gateway, terminal client, and stock ticker will get new configur

[2017-06-28 22:10] jheusser commented on #40
Not sure this entirely belongs here, but worth considering how to represent null or max/min prices. For example in SBE you can define a null values as part of a composite type such as

[code]

[2017-06-29 07:10] jvirtanen commented on #40
@jheusser That's a good point. Currently there's no concept of a null price, and tools, such as the stock ticker, rely on zero quantity to indicate missing data.

[2017-08-05 19:48] jvirtanen commented on #40
See #91.

[2017-08-10 18:07] jvirtanen commented on #40
Closed by #91.

[2017-08-10 18:07] #40 closed

[2017-09-01 06:30] penberg opened #93 "Ticker output is hard to read"
The default `parity-ticker` output looks as follows:

[code]

The format makes it difficult to:

- Notice when a trade happens because last price is repeated all the time.
- Easily see which side of the order book changed (price and size) and how it changed.

The TAQ format (enabled with `-t` command line option) is better, but it could perhaps use color or something to make it even more readable

[2017-09-01 11:40] jvirtanen commented on #93
Yes, good points. The [TAQ format](https://github.com/paritytrading/parity/blob/master/libraries/file/doc/TAQ.md) is actually intended for machines whereas the default is intended for humans. If the TAQ format is more readable, we certainly have some work on the display format. :wink:

I think the display format could use ANSI codes for fixed layout and highlights.

[2017-09-21 04:21] solutionjet opened #94 "integraion points and format"
Hi not very familiar with fix and other finance protocol. I have couple questions:

 1. How can I feed orders, and get the published result out the system what basically client and reporter is doing ? In my use case I have to write a process to get them from db and persist the published results back into db.
 2. Wonder why you have different multicast ports and how to retrieve data from each reque

[2017-09-22 16:51] jvirtanen commented on #94
Hi @solutionjet! Here are some answers:

1. You can enter orders to the trading system using either the [**POE**](https://github.com/paritytrading/parity/blob/master/libraries/net/doc/POE.md) protocol or the [**FIX**](https://github.com/paritytrading/parity/blob/master/applications/fix/doc/FIX.md) protocol. Both are TCP-based network protocols, and FIX is an industry standard with many free and co

[2017-10-15 08:37] #94 closed

[2017-11-16 12:06] mahieddine opened #97 "Persistence & Scalability"
Hi,
First thank you for this wonderful work, i'm trying out your library but i have two questions :

1 -  Does this library use some persistence mechanisms such as if there is an outage, the orderbook is not lost or is it something that the developer should handle himself? if so what would you recommend ?

2 - And the second question is about scalability, can this orderbook works in a clustered se

[2017-11-18 13:27] jvirtanen commented on #97
Hi @mahieddine, and thank you!

1. At the moment, the order book could be reconstructed based on the [market reporting protocol](https://github.com/paritytrading/parity/blob/master/libraries/net/doc/PMR.md) messages. However, as the order entry server does not implement authentication, there is currently no mechanism to map resting orders to incoming sessions. (The trading system also enforces can

[2017-11-27 11:13] krissadewo opened #99 "Need guide to used this framework"
Hi, I have compile this project via maven. Because I'm newbie in trading apps, I don't know how to use this setting in config. In example in parity system.

market-data {
  session             = parity
  multicast-interface = 127.0.0.1
  multicast-group     = 224.0.0.1
  multicast-port      = 5000
  request-address     = 127.0.0.1
  request-port        = 5001
}

market-report {
  session

[2017-12-02 15:47] jvirtanen commented on #99
Hi @krissadewo! I suggest to take a look at [Genesis](https://github.com/jvirtanen/genesis), which is built on Parity and [VirtualBox](https://www.virtualbox.org/) and works a self-contained demonstration of a Parity trading system.

[2017-12-04 02:00] krissadewo commented on #99
Ok, thank you for advice

[2017-12-09 17:05] bpalermo commented on #30
Any ideas how you willing to implement this?
Maybe I can help you if you are interested.

[2017-12-09 23:44] bpalermo opened #101 "Security"
Does it offers any kind of encryption for send orders?

[2017-12-10 10:41] jvirtanen commented on #101
Hi @bpalermo! No, there's no built-in support, but you can deploy e.g. [stunnel](https://www.stunnel.org/) as a reverse proxy.

[2018-01-02 12:51] #101 closed

[2018-01-02 12:51] #99 closed

[2018-01-02 12:51] #97 closed

[2018-02-06 12:56] AndrewsK30 opened #103 "Persistence in DB"
Hi, great project by the way, so i have question how can i use database to store the order book? because the order book is save on memory, right?

[2018-03-04 04:29] SachinSPawar opened #104 "System floors down quantity value"
For eg. if quantity is like 0.1 , system floors it to 0.00 and hence rejects the order.
If quantity is like 1.02 , system floors it to 1.00 and accepts order with value 1.00
Is there any way to speciify precision for quantity value?

[2018-03-04 12:15] jvirtanen commented on #104
Hi @SachinSPawar! Note that the trading system operates in terms of the [minimum price and quantity increment](https://github.com/paritytrading/parity/blob/master/libraries/net/doc/POE.md#data-types). Other applications, such as the stock ticker, are then configured to convert between this representation and decimal numbers.

In the [example configuration for the stock ticker](https://github.com/p

[2018-03-04 12:15] #104 closed

[2018-03-09 05:43] xbee commented on #30
I think I can help you to implement this, you can tell me how to do it .

[2018-03-11 17:00] xbee commented on #93
maybe can use json format .

[2018-03-11 17:20] xbee commented on #16
I think WAMP(Web Application Messaging Protocol) will be another good choice.  Poloniex is using wamp for it's websocket api. And I have integrate reporter with a wamp client, and it working well.

[2018-04-05 15:19] k-vladyslav commented on #103
@AndrewsK30 any updates on that?

[2018-04-05 15:41] AndrewsK30 commented on #103
@k-vladyslav hey, so we end up using a custom solution with Redis and queue by price, and workers threads to do the matching .

[2018-04-15 09:30] anujnetwork opened #106 "."

[2018-04-15 09:31] anujnetwork commented on #103
How did you implement the redis persistence?
Would you like to share the hooks?

[2018-04-15 12:53] anujnetwork commented on #16
Do we heave any rest support today

[2018-04-15 12:56] anujnetwork opened #107 "AWS Docker Support"
I do see a docket package, is this latest? It also depends on multicasting. Would it require an overlay protocol support for mukticasting else the communication will break.

[2018-04-21 00:28] developeralgo8888 opened #108 "Any Graphical User Interface ( GUI) to make things a little easier would be fantastic"
Any Graphical User Interface ( GUI) to make things a little easier would fantastic

[2018-04-25 04:45] anujnetwork opened #109 "How to decrypt user name"
User name in session.java in method loginRequest is retrieved as 3978993080922546208.

But my actual user name in conf file is parity.

How do we retrieve use name

[2018-04-25 04:46] anujnetwork commented on #103
I am developing a DB Persistence layer based on EclipseLink JPA

[2018-04-25 04:47] #106 closed

[2018-04-25 04:48] #107 closed

[2018-04-25 07:57] jvirtanen commented on #109
Hi @anujnetwork! Internally, the trading system [packs the ASCII string as long](https://github.com/paritytrading/parity/blob/master/applications/system/src/main/java/com/paritytrading/parity/system/Session.java#L100). You can either unpack it later using e.g. [`ASCII#unpackLong()`](https://github.com/paritytrading/foundation/blob/master/src/main/java/com/paritytrading/foundation/ASCII.java#L420)

[2018-04-25 07:57] #109 closed

[2018-04-25 11:23] anujnetwork opened #110 "Incorrect price in Marketreporter.java orderEntered.price = price;"
MarketReporter.java in orderEntered method is showing incorrect price in
        orderEntered.price       = price;

For a price of 100, its printing 10000 with 2 leading Zero

However ticket is showing the correct price

Does it require some unpack?

[2018-04-25 11:39] jvirtanen commented on #110
The trading system as well as the native protocols use the minimum price increment, please see e.g. [the PMD protocol specification](https://github.com/paritytrading/parity/blob/master/libraries/net/doc/PMD.md#data-types).

[2018-04-25 11:39] #110 closed

[2018-04-25 12:11] anujnetwork commented on #110
It doesn't even look like a minimum price increment.
For the very first order of Quantity 1 and Price as 100, it shows Quantity as 1 and Price as 10000

I am still wondering, how ticker is showing the correct price, which is 100

[2018-04-25 12:23] anujnetwork opened #111 "Order Number is not unique in MatchingEngine"
Reference code
        long orderNumber = nextOrderNumber++;

Order Number always starts with 1 and in case of Database persistence, it conflicts with previous order numbers. Order Number should be a randomly generated unique number or may be attached to currennt system milisecond to make it always unique

What I propose is:

        Random random = new Random(System.nanoTime());

        long ord

[2018-04-25 12:47] jvirtanen commented on #110
Well, the minimum price increment for that particular instrument appears to be 0.01, right? 🙂

[2018-04-25 12:55] anujnetwork commented on #110
Where is the minimum price increment defined?
I am running the default system with AAPL instrument

[2018-04-25 13:05] jvirtanen commented on #110
It is defined in the configuration files for the applications.

[2018-04-25 14:42] anujnetwork opened #112 "Trade method in MarketReporter doesnt have the execution price"
The current trade method in MarketReporter have following signature

long restingOrderNumber, long incomingOrderNumber,
            long quantity, long matchNumber

TradeExecutionPrice is mandatory for the trade reporting purpose?
Can we have a hotfix in parity .8

[2018-04-25 15:15] anujnetwork opened #113 "Matchnumber starts with 1"
Matchnumber in MatchingEngine always starts with 1 and in case of engine restart it will have issues with duplicate matchnumber

We should have a random number generated based on miliseconds instead of an incremental number

[2018-04-25 16:02] anujnetwork opened #114 "Cancel Order is missing to be reported to MarketReporter"
Its working.
Please close ticket,

[2018-04-25 16:03] anujnetwork commented on #112
I hope I aint bothering you much

On Wed, Apr 25, 2018 at 8:52 PM, Jussi Virtanen <notifications@github.com>
wrote:

[2018-04-25 17:38] #114 closed

[2018-04-25 18:52] anujnetwork opened #115 "Pricing less then 1 is received as 0 in MatchingEngine"
TERMINAL CLIENT EXAMPLE.CONF

order-entry {
  address  = 127.0.0.1
  port     = 4000
  username = parity
  password = parity
}

instruments {
  price-integer-digits = 1
  size-integer-digits  = 1

  XRP-USD {
    price-fraction-digits = 1
    size-fraction-digits  = 1
  }
  BCD-USD {
    price-fraction-digits = 1
    size-fraction-digits  = 1
  }
  ETH-PROD {
    price-fraction-digits = 1
    size

[2018-04-26 03:28] anujnetwork opened #116 "How to define size-fraction-digits in parity system application? Why Instrument.java is not used in Parity System in Matching Engine"
I see an option to define this in terminal client only.
How do i set this in Trading Engine

[2018-04-26 03:49] anujnetwork commented on #116
Found the magic in client app

        Instrument config = instruments.get(instrument);

        String priceFormat = config.getPriceFormat();
        String sizeFormat  = config.getSizeFormat();

        String format = "%12s %16s %c %8s " + sizeFormat + " " + priceFormat;

        return String.format(LOCALE, format,
                Timestamps.format(timestamp / NANOS_PER_MILLI), orderId, side,

[2018-04-26 04:27] anujnetwork commented on #116
Why Instrument.java is not used in Parity System in Matching Engine

[2018-04-26 08:05] jvirtanen commented on #116
Why would you want to set it?

The matching engine solely operates on the minimum price and quantity increment because that is much simpler (integers as opposed to decimal numbers). Decimal digits are used purely for visual purposes in client applications.

You have opened 8 issues within 24 hours, most of which are not really issues but rather questions about the project. As you have noticed by c

[2018-04-26 08:05] #116 closed

[2018-04-27 14:02] #115 closed

[2018-04-29 18:18] #111 closed, assigned to nobody

[2018-05-05 09:04] SachinSPawar opened #117 "Broken Pipe Exception on Parity Client"
I have a web application deployed on Tomcat 8.5.29. The web application communicates with the Parity system, running on the same machine using Parity Client. This works perfectly fine on a local setup but fails on the cloud. I am getting a Broken Pipe Exception from the Parity Client.

[code]

Is there any configuration that I am missing?

Thanks for help in advance.

[2018-05-21 13:38] congnghia0609 opened #118 "canceledQuantity of event Cancel wrong"
Bug is find in function **cancel** in class **OrderBook**:
[code]
Because remainingQuantity in Order get from ```Long2ObjectOpenHashMap<Order> orders``` difference with Order get from ```Long2ObjectRBTreeMap<PriceLevel> bids``` or ```Long2ObjectRBTreeMap<PriceLevel> asks```. Then, value return ```canceledQuantity = remainingQuantity - size``` is wrong.

[2018-05-22 09:27] trongcauhcmus commented on #118
huge risk, it can return 2 event and the remain will make balance do not match exactly. :( poor you guys. Pls check order in both bid and ask before returning the event cancel

[2018-09-10 04:49] FndNur1Labs opened #120 "Just New on here"
i just wanna ask. can this linked with our coins. example we have our coins and own trade...

then how to do this?

sorry new~im just can made blockchain not trade part.

[2018-09-12 07:03] kankando opened #121 "System and fix application are in memory?"
Just checking if all the applications and framework are in memory  that data will not be persisted across restart.

[2018-09-16 15:53] jvirtanen commented on #120
Hi @FndNur1Labs! Parity can give you ideas how to implement the matching engine for an exchange, but it is not (nor it tries to be) a full-fledged implementation of an exchange. You might find [Genesis](https://github.com/jvirtanen/genesis), a simple Parity instance that replicates real-time market data from [Coinbase Pro](https://pro.coinbase.com) in a local environment, an interesting overview o

[2018-09-16 15:53] #120 closed

[2018-09-16 15:54] jvirtanen commented on #118
Closing this issue due to inactivity.

[2018-09-16 15:54] #118 closed

[2018-09-16 15:57] jvirtanen commented on #117
Hi @SachinSPawar! Did you figure this one out? Based on the description, it sounds like an issue in the networking configuration in the cloud environment rather than a Parity issue.

[2018-09-16 16:05] jvirtanen commented on #103
Hi @AndrewsK30! As you noted, at the moment everything is purely in memory. In longer term, I have thought about splitting Parity Trading System into Parity POE Gateway, Parity Matching Engine, and Parity PMD Gateway that would communicate e.g. over [Aeron](https://github.com/real-logic/aeron). Then persistence could be achieved via [event sourcing](https://martinfowler.com/eaaDev/EventSourcing.ht

[2018-09-16 16:05] #103 closed

[2018-09-16 16:06] jvirtanen commented on #81
@ammachado implemented this in #119.

[2018-09-16 16:06] #81 closed

[2018-09-16 16:09] jvirtanen commented on #72
The Philadelphia Terminal Client test script for Parity FIX Gateway is now executable. However, it still lacks automated assertions.

[2018-09-16 16:10] jvirtanen commented on #45
This looks interesting, but I think it's unfortunately going to be outside the scope of the project, at least for the time being.

[2018-09-16 16:10] #45 closed

[2018-09-17 00:49] FndNur1Labs commented on #120
i just fork and run used that?. ah i see port. this i think rpc wallet port?ok i will try. thank you. yep parity easy used. but last i try not on crypto[this one]. so i go another side. thank you very much

[2018-09-17 15:04] SachinSPawar commented on #117
@jvirtanen , The issue was due to changes we had made on top of parity client.

[2018-09-17 15:10] jvirtanen commented on #117
Alright! Thank you for the update. 👍

[2018-09-17 15:10] #117 closed

[2018-10-02 15:59] SergeC opened #122 "Matching Engine's OrderBook not cleared after order Match event"
Matched order is not removed from Orders collection in ME's Order book `com.paritytrading.parity.match.OrderBook#orders`. As a result, it consumes RAM infinitely. The only way to remove an order from orders collection is to call `cancel` method after full order match (an order with remaining quantity 0). Also, fully matched order can't be republished to ME. Test to reproduce this bug attached. Hop

[2018-10-03 06:28] imrozoodles opened #123 "How to close any connection with system and client"
**What we have ***
We have successfully able to connection between client and system.
Below is the code from TerminalClient.java(Parity-client)
[code]
How can we close this connection?

Thanks

[2018-10-04 14:29] jvirtanen commented on #123
Hi @imrozoodles! The connection will be closed as the terminal client terminates.

[2018-10-04 14:29] #123 closed

[2018-10-04 14:30] jvirtanen commented on #122
Great catch, @SergeC! I will make a patch.

[2018-10-05 05:18] imrozoodles commented on #123
Hi @jvirtanen , How to close connection code wise without terminal client terminates.

[2018-10-05 05:19] imrozoodles opened #124 "Hi @jvirtanen , How to close connection code wise without terminal client terminates."
_Originally posted by @imrozoodles in https://github.com/paritytrading/parity/issue_comments#issuecomment-427249233_

[2018-10-05 08:07] jvirtanen commented on #124
Just close the TCP connection. How exactly to do it depends on which programming language and libraries you are using. If you are using the reference implementation, a good starting point is to look at the basics of [Java NIO](https://en.wikipedia.org/wiki/Non-blocking_I/O_(Java)) and [the Nassau API](http://api.paritytrading.com/nassau/latest/).

I suggest asking these kind of general questions o

[2018-10-05 08:07] #124 closed

[2018-10-19 18:28] #122 closed

[2018-10-19 18:37] SergeC commented on #122
Thanks for addressing this issue. Can you tag a new version?

[2019-01-04 14:59] jvirtanen opened #129 "Do not depend on Foundation"
One of Parity's dependencies is [Foundation](https://github.com/paritytrading/foundation). It would be nice if Parity didn't have this dependency.

[2019-01-04 16:15] jvirtanen commented on #16
Closing this as REST and WebSocket APIs are outside the scope of the core project.

Note that there are Node implementations of [POE](https://github.com/paritytrading/node-parity-poe), [PMD](https://github.com/paritytrading/node-parity-pmd), and [PMR](https://github.com/paritytrading/node-parity-pmr). Using them, it would be possible to implement REST and WebSocket gateways in similar fashion as [

[2019-01-04 16:15] #16 closed

[2019-01-20 14:13] khsergvl commented on #129
@jvirtanen will start to work over that next days

[2019-01-20 21:48] jvirtanen commented on #129
Sounds good, @khsergvl, and welcome! 🙌

As @JanStureNielsen has been working on this on the [Nassau](https://github.com/paritytrading/nassau) side and some of the usages of Foundation in Parity are due to the Nassau dependency, I suggest that the initial scope of this work on Parity side would be to just get rid of [`ByteBuffers`](https://github.com/paritytrading/foundation/blob/master/src/main/ja

[2019-01-21 21:42] khsergvl commented on #129
@jvirtanen after quick look in, here is modules list that depend on foundation:

- libraries-util
- libraries-net
- applications-client
- applications-fix
- applications-system
- applications-reporter

What do you think about moving needed logic to libraries-util? At least ASCII?

[2019-01-21 23:13] jvirtanen commented on #129
Let's remove `ByteBuffers` dependency from `parity-net` for starters. It's mainly the transitive dependencies in libraries that would be nice to get rid of, dependencies of the applications do not matter so much. 🙂

[2019-01-22 09:41] khsergvl commented on #129
@jvirtanen could you give me access to push in repository?

[2019-01-22 10:16] jvirtanen commented on #129
You have to [fork this repository](https://help.github.com/articles/fork-a-repo/). 🙂

[2019-01-22 22:07] khsergvl commented on #129
@jvirtanen Let me know if you need something else over this issue or any others.

[2019-01-22 22:09] jvirtanen commented on #129
@khsergvl I'll try to come up with some additional issues in the coming days. 🙂

[2019-01-22 22:10] jvirtanen commented on #129
This was implemented in #135.

[2019-01-22 22:10] #129 closed

[2019-01-24 07:54] zbron99 opened #136 "Cannot login to a TCP connection for market-data"
Running the ticker using the TCP example configuration, it is not possible to login to market-data. Connection refused. I suspect this is because the system config file requires UDP settings for market-data? I want to use the Node.js soupbintcp package to login to Parity's market data, though because the ticker itself cannot connect, of course neither can soupbintcp.

[2019-01-24 09:03] jvirtanen commented on #136
Hi @zbron99! Please see https://github.com/jvirtanen/genesis/issues/6 for an explanation. 🙂

[2019-01-24 09:03] #136 closed

[2019-02-27 19:48] jvirtanen commented on #108
Yes, it would. 🙂 I'm hoping to get around to something like that in the future, likely using the JavaScript libraries to interact with the trading system. In the meantime, you might find an [old prototype](https://github.com/jvirtanen/parity-ticker/) I did with React and Play interesting.

[2019-02-27 19:48] #108 closed

[2019-02-27 19:50] jvirtanen commented on #72
The way forward is to continue enhancing the existing test suite based on the Philadelphia Terminal Client test script. Concrete improvement tasks will be tracked as separate issues.

[2019-02-27 19:50] #72 closed

[2019-02-27 19:51] jvirtanen commented on #44
This is interesting, but unlikely to be implemented any time in the near future. 🙂

[2019-02-27 19:51] #44 closed

[2019-03-31 16:49] #93 closed

[2019-07-16 07:54] tonymackinnon opened #139 "Market Orders"
It appears as though Parity only supports limit orders, how much effort would be involved in supporting market orders?

[2019-08-29 23:42] burnside commented on #139
It had market order support but was removed back in 2017: https://github.com/paritytrading/parity/commit/01c32b7bac861c5da2a143d11ece1d272be32389

Not sure why, though in our implementation we needed market buys to have an awareness of the quote funds available.

[2019-08-30 10:17] jvirtanen commented on #139
As @burnside mentioned, the matching algorithm library had market order support in the beginning but it was never implemented in the trading system application or the order entry network protocol. Eventually it was removed from the matching algorithm library as dead weight.

Parity is was heavily inspired by Nasdaq, and there is usually no market order support on institutional exchanges. Assuming

[2019-10-22 23:39] crowlogic opened #142 "simulator throwing exception/not connecting"
I try to run the simulator and get the message

fatal: Connection reset by peer

java.io.IOException: Connection reset by peer
	at java.base/sun.nio.ch.FileDispatcherImpl.read0(Native Method)
	at java.base/sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
	at java.base/sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
	at java.base/sun.nio.ch.IOUtil.read(IOUtil.java:197)
	at java.ba

[2019-10-24 16:43] crowlogic commented on #142
I managed to get this working after resurrecting code from parity-net-0.6.0 , when I get around to it I'll put it on github

[2019-10-24 16:43] #142 closed

[2019-11-21 01:30] ricardogaynorgaynor opened #143 "How do i connect to a ITCH host that using https. i keep on getting an error that the connection was refused"

[2019-11-21 14:17] jvirtanen commented on #143
Hi @ricardogaynorgaynor! This issue is probably filed in the wrong place; Parity supports neither HTTP nor ITCH. 🙂

[2019-11-21 14:17] #143 closed

[2020-01-16 18:05] crowlogic opened #144 "support post-only orders"
Add liquidity only

[2020-05-28 18:02] #139 closed

[2021-06-03 11:16] okour82 opened #161 "Full market depth"
is it possible to get the full market depth from Parity exchange , the terminal shows only best bid/offer

[2021-06-03 16:01] jvirtanen commented on #161
Yes, see [the market data protocol specification](https://github.com/paritytrading/parity/blob/master/libraries/net/doc/PMD.md) and [the `parity-ticker` code](https://github.com/paritytrading/parity/blob/master/applications/ticker/src/main/java/com/paritytrading/parity/ticker/MarketDataProcessor.java) that uses [the `parity-book` library](https://github.com/paritytrading/parity/tree/master/librari

[2021-06-03 16:01] #161 closed

[2021-06-07 07:56] okour82 opened #162 "Modify Price - Pending Modify"
I have Noticed that the FIX can accept to modify quantity but not the price , please advise

< 8=FIX.4.2|9=115|35=D|49=parity|56=EXECUTOR|34=71|52=20210607-07:51:01|11=2224|55=AAPL|54=1|60=20210607-07:51:01|38=1000|40=2|44=60|10=221|

< 8=FIX.4.2|9=122|35=G|49=parity|56=EXECUTOR|34=74|52=20210607-07:52:07|11=2225|55=AAPL|54=2|60=20210607-07:52:07|38=500|40=1|44=61|41=2224|10=050|

< 8=FIX.4.2|9=12

[2021-06-07 09:59] jvirtanen commented on #162
Correct, you can use Order Cancel/Replace to [partially cancel an order](https://github.com/paritytrading/parity/blob/master/applications/fix/doc/FIX.md#cancel-order-partially).

[2021-06-07 09:59] #162 closed

[2021-10-05 14:10] #21 closed

[2021-10-05 14:10] #25 closed

[2021-10-05 14:10] #30 closed

[2021-10-05 14:11] #42 closed

[2021-10-05 14:11] #73 closed

[2022-02-09 19:16] #144 closed